@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-bold-webfont.eot');
    src: url('font/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-bold-webfont.woff2') format('woff2'),
         url('font/raleway-bold-webfont.woff') format('woff'),
         url('font/raleway-bold-webfont.ttf') format('truetype'),
         url('font/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	height: 100%
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #E6E7E8;
}

#controlers{
		position:relative;
		width:265px;
		margin: 0 auto;
	}


	.progressbarplay {
		cursor:pointer;overflow: hidden;height: 8px;margin-bottom: 8px;background-color: #F7F7F7;background-image: -moz-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -ms-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#F9F9F9));background-image: -webkit-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -o-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: linear-gradient(top,whiteSmoke,#F9F9F9);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
	}
	.progressbarplay .bar {
		cursor:pointer;background: #4496C6;width: 0;height: 8px;color: white;font-size: 12px;text-align: center;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: width .6s ease;-moz-transition: width .6s ease;-ms-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;
	}

	#boutonPlayPse {
		width:65px;
		height:65px;
		background:#00636D;
		box-shadow:2px 2px 8px #aaa;
		border-radius:50%;
		color:#E6E7E8;
		font-size: 25px;
	}

	.boutonMin {
		width:45px;
		height:45px;
		background:#00636D;
		box-shadow:2px 2px 8px #aaa;
		font-weight: bold;
		border-radius:50%;
		color:#E6E7E8;
		font-size: 15px;
		padding:auto;
	}
nav#slide-menu{
	left:-200px;
	z-index: 1000;
	position: fixed;
	background-color: #404041;
	opacity: 0.95;
	height:100%;
	width:200px;
	transition:left .5s ease;
	}
	nav ul {
		display: block;
		font-family: 'ralewaybold', sans-serif;
		font-weight: 700;
		margin: 10px;
		padding: 0;
		list-style: none;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;
	}
		 nav ul li{
			padding: 6px 0;
			width: 100%;
			cursor: pointer;
			font-size: 1em;
			color:#E6E7E8;
			-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		}

		nav ul li:hover { color: #00636D; }
		nav ul li:before {
			font-family: "FontAwesome";
			font-style: normal;
			font-weight: normal;
			color:#E6E7E8;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			width: 1em;
			margin-right: 12px;
			text-align: center;
			font-variant: normal;
			font-size: 1em;
			text-transform: none;
			line-height: 1em;
		}

		nav ul li.sep { 
			margin-top: 7px; 
			padding-top: 14px; 
			border-top: 1px solid lighten('white', 50%); 
		}

		nav ul li.favorite:before { content: '\f004'; }
		nav ul li.logout:before { content: '\f007';
		font-size: 1.5em;}
		nav ul li.shows:before { content: '\f130'; }
		nav ul li.playlists:before { content: '\f03a'; }
		nav ul li.settings:before { content: '\f013'; }
		nav ul li.about:before { content: '\f128'; }
		nav ul li.premium:before { content: '\f005'; }
		nav ul li.filter-off:before { content: '\f096'; }
		nav ul li.filter-on:before { content: '\f046'; }
	


.menu-trigger{
	position: fixed;
	left:5px;
		top:10px;
	font-size: 1.5em;
	transition:left .5s ease;
	z-index: 1000;
}
.menu-active #slide-menu{
	left:0px;
}
.menu-active .menu-trigger{
	left:205px;
}

#slide-menubis{
	left:320px;
	z-index: 1000;
	position: fixed;
	background-color: #404041;
	height:100%;
	width:200px;
    opacity: 0.95;
    -moz-opacity: 0.95;
    filter: progid:DXImageTransform.Microsoft:Alpha(opacity=0.95);
	transition:left .5s ease;
}
.menubis-trigger{
	position: fixed;
	left:294px;
	top:10px;
	font-size: 1.5em;
	transition:left .5s ease;
}
.menubis-active #slide-menubis{
	left:120px;
}
.menubis-active .menubis-trigger{
	left:94px;
}

header{
	background-color: #00636D;
	height: 50px;
	color:#E6E7E8;
}

#title{
	position: fixed;
	text-align: center;
	width: 100%;
	line-height: 50px;
	font-family: 'ralewaybold', sans-serif;
	font-weight: 700;
}

#Map {
	height: 48%;
	width : 100%;
}

#player{
	height: 48%;
	width : 100%;
}

header{
	background-color:#00636D;
}
.logo{
	position: absolute;
	height: 30px;
	width: 30px;
	margin-top : 10px;
	margin-left : 30px;
}